#code.section
  %h3 Code Samples
  %p.indent
    Adjacent to this resume are a few projects for source review.
  %p.indent
    Each project has it's own readme with thoughts on why I've decided to include it in my resume, when I wrote it, and information on running the code.
  %p.indent
    %a(href="code_samples/") code samples &rarr;

