<!-- goal here is to talk about specifics and details relating to general engineering problems -->
%div#expertise.section
  %h3 Expertise
  %div.indent
    %h5 Deployment
    %p Automatic, push button, scripted, and manual multi-environment deployments to various AWS services, docker clusters, etc. High availability deployment and auto-scaling infrastructure. Experience with AWS CLI API for scripting unique architectural patterns in AWS.
    %div.small.indent
      %strong Current:
      AWS EC2, ALB/ELB, ECS/Fargate (docker on aws); Database and API Secrets Management, various Continuous Integration services, Ansible, nsd3 / BIND9 / Route53 DNS, L(A|E)MP<br>
      %strong Familiar:
      Chef, PHP, Capistrano

    %h5 Infrastructure as Code
    %p Executable documentation to manage predictable, repeatable, disposable environments. Enforcing parity between production, staging, and testing/qa environments. Change management via versioned infrastructure as code.
    %div.small.indent
      %strong Current:
      Terraform, Ansible, Chef, Bash, Perl
      %strong Familiar:
      CloudFormation, Salt

    %h5 Developer Workflow
    %p Docker compose for collaborative development, integrating automatic deployments with code review workflow. Coordinating easy ways of developing with multiple platform technologies in parallel (API/Web/native mobile, etc).
    %div.small.indent
      %strong Current:
      Docker, Compose, Elixir/Phoenix, Ruby/Rails

    %h5 Internet
    %p Knowledgable in the creation of web applications from initial prototype to scaleable automated deployment. Experienced server administration in Debian environments with technologies including Rails, Nginx, Apache, and BIND9/nsd3. Application deployment including automated deployment, DNS management, and server setup.
    %div.small.indent
      %strong Current:
      postgres, Rails, HTML, haml, markdown, CSS, sass<br>
      %strong Familiar:
      mongoDB, mysql, less, python<br>
      %strong Dated:
      perl, PHP, javascript, jQuery

    %h5 Software Architecture and Integration
    %p Experience managing a large project from overall system design down to the low level detail. Development of an API for use by other engineers using json/REST. Third-party systems integration with XML, SOAP, json, REST. Background processing for computationally intensive tasks using asynchronous worker processes.
    %div.small.indent
      %strong Current:
      JSON, REST, API Integration, sidekiq/resque
