<!-- goal here is to talk about specifics and details relating to general engineering problems -->
%div#expertise.section
  %h3 Expertise
  %div.indent
    %h5 Internet
    %p Knowledgable in the creation of web applications from initial prototype to scaleable automated deployment. Experienced server administration in Debian environments with technologies including Rails, Nginx, Apache, and BIND9/nsd3. Application deployment including automated deployment, DNS management, and server setup.
    %div.small.indent
      %strong Current:
      mysql, Rails, PHP, HTML, haml, markdown, CSS, sass, javascript, jQuery<br>
      %strong Familiar:
      mongoDB, postgres, canvas, less, python<br>
      %strong Dated:
      perl

    %h5 Deployment
    %p Automated and manual deployments to various AWS services, docker clusters, etc. High availability deployment and autoscaling infrastructure. Experience with AWS CLI API for scripting unique architectural patterns in AWS.
    %div.small.indent
      %strong Current:
      AWS EC2, ECS (docker on aws), Secrets Management with SSM, CodeDeploy, Ansible, Capistrano, BIND9 / nsd3 / Route53 DNS, L(A|E)MP<br>
      %strong Dated:
      Chef, PHP


    %h5 Software Architecture and Integration
    %p Experience managing a large project from overall system design down to the low level detail. Development of an API for use by other engineers using json/REST. Third-party systems integration with XML, SOAP, json, REST. Background processing for computationally intensive tasks using asynchronous worker processes.
    %div.small.indent
      %strong Current:
      JSON, REST, API Integration, sidekiq/resque

    %h5 Embedded
    %p Object oriented programming for sensor data collection, motion control, cheap dead reckoning, obstacle avoidance and artistic displays. Embedded communications protocols including simple and formal serial. RF tracking and mesh network communication. Low power/sleep mode systems, persistent, on chip data storage.
    %div.small.indent
      %strong Current:
      GPS, data acquisition, ATmega AVR &amp; Arduino<br>
      %strong Dated:
      dead reckoning, I<sup>2</sup>C

