---
layout: default
---

{% include_relative personal-summary.haml %}

{% include_relative code-samples.haml %}

%hr

{% include_relative notable-projects.haml %}

%hr

{% include_relative expertise.haml %}

%hr

{% include_relative professional-experience.haml %}

%hr

<!-- education -->
%div#education.section
  %h3 Education
  %p.indent
    %a(href="https://www.fortlewis.edu")
      %strong> Fort Lewis College

    &mdash; Bachelor of Arts in Computer Science.  Studied Human Computer Interaction (HCI), Embedded development, and Operating System design.
