---
layout: default
---

{% include_relative _resume/personal-summary.haml %}

{% include_relative _resume/code-samples.haml %}

%hr

{% include_relative _resume/notable-projects.haml %}

%hr

{% include_relative _resume/expertise.haml %}

%hr

{% include_relative _resume/professional-experience.haml %}

%hr

<!-- education -->
%div#education.section
  %h3 Education
  %p.indent
    %strong Fort Lewis College
    &mdash; Graduated Fall 2007 &mdash; Bachelor of Arts in Computer Science.  Studied Human Computer Interaction (HCI), Embedded development, and Operating System design.
