#summary.section
  %h3 Personal Summary
  %p.indent Robert Carpenter is a devops and polyglot software engineer with ~13 years professional experience in web and related development.  He is experienced in automated deployment, continuous integration, software architecture, collaborative development, user interface design, and quality assurance testing.

