#summary.section
  %h3 Personal Summary
  %p.indent Robert Carpenter is a software and devops engineer with ~11 years professional experience in web and related development.  He is experienced in software architecture, collaborative development, automated deployment, user interface design, quality control, and end user support.

