#summary.section
  %h3 Personal Summary
  %p.indent Robert Carpenter is a polyglot software engineer with ~17 years professional experience.  He is experienced in various languages and framewowrks from embedded systems up to full stack web development. Example technologies include: (embedded) C++/FreeRTOS, (web) Ruby/Html/CSS/Javascript.

