<!-- professional experience -->
%div#professional
  %h3 Professional Experience
  %div.indent
    %h5 TumblerLock.io, Freelance Software and DevOps consultant &mdash; Jan 2017 - <em>Current</em>
    %p Building automated deployments in AWS and Azure for various deployment environments including Ruby, Elixir, .Net Core &amp; Framework, etc.
    %p.indent.small
      Elixir, Phoenix, Ruby, .Net Core, EC2, Docker, CodeDeploy

    %h5 Gloo.us, Senior Developer (Ruby &amp; Rails) &mdash; May 2013 &ndash; April 2017
    %p.small
      %em
        FT Contract: May - July 2013
        %br
        PT Contracted: August - October 2013
        %br
        FT Salary: November 2013 - April 2017
    %p Worked with several small teams to build an iOS/Android/Web based content publishing and social platform. Specifically worked on event-driven analytics and web client teams. With the analytics team I: built an asynchronous event generation and pass-through system to provide the analytics infrastructure with a JSON event stream; designed and constructed an event receiver and data source API in Node.js; worked with d3.js and other charting libraries to render client side, interactive graphs; and worked on automated code deployment using Jenkins and custom Chef recipes. With the web client team I: helped design a client-side web framework to render client content using Twitter Flight; designed and developed an in-browser routing, click-jacking, and history API library.
    %p.indent.small
      Rails3, Node.js, d3.js, Chef, Nginx, Redis, Postgres, AWS.

    %h5 BatchPCB, Lead Engineer &mdash; Feb 2011 &ndash; May 2013
    %p
      Lead a ground up rewrite of batchpcb.com, replacing an antiquated, vulnerable and broken framework with Rails3. Included automated
      background parsing of Gerber (RS-242x) files according to formal spec to assess validity and manufacturability, automatically
      calculating cost and price, rendering images. Business management software including order management in a state machine, user
      account management, and user upload management for customer service personnel.  Front end website allows registered users to
      upload PCB designs, view rendered previews, order boards, and optionally open source designs for purchase by the general public.
      Order processing included PayPal, Credit card via Authorize.net, USPS via Endicia, and FedEx API integration.  Version controlled with Git.
    %p.indent.small
      Debian, Ruby on Rails 3, Nginx/Passenger, Redis, MariaDB. FedEx, USPS (Endicia), Authorize.net, PayPal, Git

    %h5 SparkFun Electronics, Developer &mdash; Mar 2010 &ndash; May 2013
    %p.small
      %em n.b. SparkFun owns BatchPCB
    %p
      Worked as part of an 11 person team on sparkfun.com and the related business management back end. Helped construct an in house web MVC framework and ORM from the ground up in PHP. Personally contributed a framework scripting implementation, order processing logic, several third party API integrations, and inventory tracking / mapping.
    %p.small.indent
      Linux, Php, Nginx, MariaDb, memcached, javascript &amp; jQuery, Bootstrap CSS

    %h5 New Horizons Computer Learning Centers, IT Tech &mdash; Sept 2009 &ndash; Feb 2010
    %p Worked to daily deploy full scale operating system and class software roll outs across ~15 classrooms in 5 locations across the Denver area as part of a 3 man team.

    %h5 Freelance &mdash; Jan 2006 - Aug 2009
    %p General IT provider. Consulted with clients on network architecture and server builds for businesses and schools. Built out several custom websites based on the LAMP stack, deployed to shared and virtual hosts.

    %h5
      Grace Preparatory Academy, Lead IT &amp; Tech Educator &mdash; Aug 2005 &ndash; Aug 2009
    %p Initially worked as a technology educator for middle and high school students.  Lead a new and growing private school in the build out a campus wide LAN, built an initial Active Directory network management server with Debian/Samba, then later migrated to a full Windows 2008 Server. Taught programming in Python, Video production with Adobe Premier, Microsoft Office basics, and Pre-Calculus.
