---
layout: default
---

#code.section
  %h3 Code Samples
  %p.indent
    This is a list of several projects that I consider to be my best work. Some of it goes back several years,
    but it has become work which I muse about often and still have a lot of pride in. Often the algorithms are
    trivial, but the code is well organized, implements some needed feature, or carries fond memories.
  %p.indent
    Each project has a small readme with code highlights and some meta details. Where relevant, documentation
    on how to run the code are included.
  %p.indent
    Code samples are minimally modified for terseness, generally limited to deleteing irrlevent or plain sections of code.

%h4 Arduino C
%p.indent
  %a(href="arduino/color_shade_pendulum") ShiftBrite pendulum murmuration generator &rarr;

%h4 GNU Awk
%p.indent
  %a(href="awk/git_prompt_status") fast git status aggregator &rarr;

%h4 Ruby
%p.indent
  %a(href="ruby/nemucod_ransomware") Ruby CLI for de-obfuscating files from a computer infected with Nemucod Ransomware &rarr;
  %br
  %a(href="ruby/object_generator") Object generator for test and seed data &rarr;
  %br
  %a(href="ruby/grant_system") Generic authorization system &rarr;

