---
layout: default
---

#code.section
  %h3 Code Samples
  %p.indent
    This is is a portfolio of software which I about often look back on and still have a lot of pride in.
    Often the algorithms are trivial but the code was satisfying to write, was written in a fun language, and/or
    carries fond memories.
  %p.indent
    Each project has a small readme with code highlights and some meta details. Where relevant, documentation
    on how to run the code are included. Where possible, links to public repositories for the complete source
    are provided.
  %p.indent
    Code samples are minimally modified for brevity.

%h4 Arduino C
%p.indent
  %a(href="arduino/color_shade_pendulum") ShiftBrite pendulum murmuration generator &rarr;

%h4 Awk
%p.indent
  %a(href="awk/git_prompt_status") fast git status aggregator &rarr;

%h4 Crystal
%p.indent
  %a(href="crystal/mosquito") distributed job management &rarr;
  %br
  %a(href="crystal/icmp") ICMP Ping implementation &rarr;
  %br
  %a(href="crystal/amber-router") Amber Router &rarr;

%h4 Ruby
%p.indent
  %a(href="ruby/nemucod_ransomware") Ruby CLI for de-obfuscating files from a computer infected with Nemucod Ransomware &rarr;
  %br
  %a(href="ruby/object_generator") Object generator for test and seed data &rarr;
  %br
  %a(href="ruby/grant_system") Generic authorization system &rarr;

