#code.section
  %h3 Code Samples
  %p.indent
    Adjacent to this resume are several projects that I consider to be my best work. Some of it goes back decades, but it has become work which I muse about often and still have a lot of pride in.
  %p.indent
    Each project has it's own readme with thoughts on why I've decided to include it in my resume, when I wrote it, and information on running the code.
  %p.indent
    %a(href="code_samples/") code samples &rarr;

