---
layout: default
---

#code.section
  %h3 Code Samples
  %p.indent
    This is a list of several projects that I consider to be my best work. Some of it goes back decades, but
    it has become work which I muse about often and still have a lot of pride in. Often the algorithms are
    trivial, but the code is well organized or carries fond memories.
  %p.indent
    Each project has a small readme with code highlights and some meta details. Where relevant, documentation
    on how to run the code are included.

%h4 Arduino C
%p.indent
  %a(href="arduino/color_shade_pendulum") ShiftBrite pendulum murmuration generator &rarr;

%h4 GNU Awk
%p.indent
  %a(href="awk/git_prompt_status") fast git status aggregator &rarr;

