<!-- goal here is to talk about specific projects and the roles I played in their development -->

%div#notables.section
  %h3 Notable Projects
  %ul
    %li Strong contributor in the construction of MVC and ORM backend designed specifically to replace an existing ERP system. Specific contributions include SQL abstraction layer, API creation and integration, and automation/generation framework.
    %li Lead engineer in the development of an online store and marketplace for PCB designs.  Project scope included: organizing, parsing, and rendering <a href="http://en.wikipedia.org/wiki/Gerber_format">RS-242X</a> files; API integration with FedEx, Endicia (USPS), Authorize.net, PayPal; developing HTML structure and layout from marketing mockups; business and accounting reports; and a full-featured business management back end.
    %li Code Mentor working regularly with individuals one on one to teach them how to write basic scripts, websites, and basic embedded development. Professional electronics and beginning embedded development educator for all ages. Regularly works with established programmers to get them more fluent with ruby and the rails environment.
