#summary.section
  %h3 Personal Summary
  <!-- goal here is to talk about a general sweng approach knowledge, not project specifics, narrowly focused, or widely available skillsets -->
  %p.indent Robert Carpenter is a software engineer with ~9 years professional experience in web and related development.  He is experienced in software structure, collaborative development, effective user interface design, quality control, and end user support.

